#header{
    background-color: green;
        color: aqua;
        margin: 4ppx;
        padding-left: 60px;
        
}
.para{
    background-color: blue;
        color: white;
        margin: 4ppx;
        padding-left: 60px;
}